<div class="brand-container bg-white m-auto" style="padding: 30px 0 25px">
  <h3
    class="font-weight-400 font-size-14px color-brand-grey"
    style="margin-bottom: 25px"
  >
    FEATURES
  </h3>
  <div class="row">
    <!-- Col 1 -->
    <div class="col">
      <div>
        <app-nav-feature-card
          [svg]="svg.svg_text_messages"
          [redirectTo]="
            'https://www.fylehq.com/product/conversational-ai-for-expenses'
          "
          headline="Text Messages"
          subline="The biggest innovation in receipt tracking since mobiles"
        >
        </app-nav-feature-card>

        <app-nav-feature-card
          [svg]="svg.receipts"
          redirectTo="https://www.fylehq.com/expense-receipt-tracking"
          headline="Receipts"
          subline="Track receipts from everyday apps in a few clicks"
        >
        </app-nav-feature-card>
        <app-nav-feature-card
          [svg]="svg.expenses"
          redirectTo="https://www.fylehq.com/product/expenses"
          headline="Expenses"
          subline="Report expenses, mileages, per-diems and more"
        >
        </app-nav-feature-card>
        <app-nav-feature-card
          [svg]="svg.approvals"
          redirectTo="https://www.fylehq.com/product/approvals"
          headline="Approvals"
          subline="Set up any approval workflow and approve on-the-go"
        >
        </app-nav-feature-card>
      </div>
    </div>
    <!-- Col 2 -->
    <div class="col">
      <div>
        <app-nav-feature-card
          [svg]="svg.cards"
          [redirectTo]="'https://www.fylehq.com/product/cards'"
          headline="Cards"
          subline="Manage and automate credit card reconciliation"
        >
        </app-nav-feature-card>
      </div>

      <ul class="px-2" style="margin-left: 61px">
        <a href="https://www.fylehq.com/product/cards/visa">
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            Visa
          </li>
        </a>
        <a href="https://www.fylehq.com/product/cards/mastercard">
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            Mastercard
          </li>
        </a>

        <a href="https://www.fylehq.com/product/cards/#american-express">
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            American Express
          </li>
        </a>
        <a
          href="https://www.fylehq.com/product/cards/#any-other-business-credit-card"
        >
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            Any credit card
          </li>
        </a>

        <li
          class="mt-3 color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2"
        >
          Virtual Cards
        </li>
        <a href="https://www.fylehq.com/product/american-express-virtual-cards">
          <li
            class="d-flex align-items-center color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2"
          >
            <span class="mx-2">
              <svg
                width="4"
                height="5"
                viewBox="0 0 4 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="2" cy="2.92725" r="1.5" stroke="#2D3142" />
              </svg>
            </span>
            <span>American Express </span>
          </li>
        </a>
      </ul>
    </div>
    <!-- Col 3 -->
    <div class="col">
      <div>
        <app-nav-feature-card
          redirectTo="https://www.fylehq.com/product/integrations"
          [svg]="svg.integrations"
          headline="Integrations"
          subline="Sync with your accounting software, HRMS and more"
        >
        </app-nav-feature-card>
      </div>

      <ul class="px-2" style="margin-left: 61px">
        <a
          href="https://www.fylehq.com/product/integrations/netsuite-accounting-software"
        >
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            NetSuite
          </li>
        </a>
        <a
          href="https://www.fylehq.com/product/integrations/sage-intacct-accounting-software"
        >
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            Sage Intacct
          </li></a
        >
        <a
          href="https://www.fylehq.com/product/integrations/quickbooks-online-accounting-software"
        >
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            QuickBooks Online
          </li>
        </a>
        <a
          href="https://www.fylehq.com/product/integrations/quickbooks-desktop-accounting-software"
        >
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            QuickBooks Desktop
          </li>
        </a>
        <a
          href="https://www.fylehq.com/product/integrations/sage-300-cre-accounting-software"
        >
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            Sage 300 CRE (Beta)
          </li>
        </a>
        <a
          href="https://www.fylehq.com/product/integrations/xero-accounting-software"
        >
          <li
            class="color-brand-black-hover-brand-blue font-size-14px font-weight-400 line-height-2 list-style-initial"
          >
            Xero
          </li>
        </a>
      </ul>
      <div style="margin-left: 51px" class="my-3">
        <a
          href="https://www.fylehq.com/product/integrations"
          class="view-all-features"
        >
          See all
          <span class="mx-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="8"
              height="14"
              viewBox="0 0 8 14"
            >
              <defs>
                <path
                  id="x612hm8boa"
                  d="M7 8c-.298 0-.597-.112-.825-.335L.342 1.951C-.114 1.504-.114.782.342.335c.456-.447 1.194-.447 1.65 0L7 5.241 12.01.335c.456-.447 1.193-.447 1.65 0 .456.447.456 1.17 0 1.616L7.824 7.665C7.598 7.888 7.3 8 7 8"
                />
              </defs>
              <g fill="none" fill-rule="evenodd">
                <g>
                  <g>
                    <g>
                      <g
                        transform="translate(-751 -2888) translate(0 2778) translate(526 80) rotate(-90 134.5 -90.5)"
                      >
                        <use fill="#6F718F" xlink:href="#x612hm8boa" />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <!-- Col 4 -->
    <div class="col">
      <div>
        <app-nav-feature-card
          redirectTo="https://www.fylehq.com/product/mobile-app"
          [svg]="svg.mobile_app"
          headline="Mobile App"
          subline="Access everything from Fyle's easy to use mobile app"
        >
        </app-nav-feature-card>

        <app-nav-feature-card
          redirectTo="https://www.fylehq.com/product/payments"
          [svg]="svg.reimbursements"
          headline="Reimbursements"
          subline="Streamline employee reimbursements with ACH"
        >
        </app-nav-feature-card>
        <app-nav-feature-card
          redirectTo="https://www.fylehq.com/product/analytics"
          [svg]="svg.expenses"
          headline="Analytics"
          subline="Configure budgets and track spend against them"
        >
        </app-nav-feature-card>
        <app-nav-feature-card
          redirectTo="https://www.fylehq.com/product/budgets"
          [svg]="svg.approvals"
          headline="Budgets"
          subline="Get rich insights into your company spend"
        >
        </app-nav-feature-card>
      </div>
    </div>

    <div class="pritam"></div>
    <div>
      <a href="https://www.fylehq.com/product" class="view-all-features">
        View all features
        <span class="mx-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="8"
            height="14"
            viewBox="0 0 8 14"
          >
            <defs>
              <path
                id="x612hm8boa"
                d="M7 8c-.298 0-.597-.112-.825-.335L.342 1.951C-.114 1.504-.114.782.342.335c.456-.447 1.194-.447 1.65 0L7 5.241 12.01.335c.456-.447 1.193-.447 1.65 0 .456.447.456 1.17 0 1.616L7.824 7.665C7.598 7.888 7.3 8 7 8"
              />
            </defs>
            <g fill="none" fill-rule="evenodd">
              <g>
                <g>
                  <g>
                    <g
                      transform="translate(-751 -2888) translate(0 2778) translate(526 80) rotate(-90 134.5 -90.5)"
                    >
                      <use fill="#6F718F" xlink:href="#x612hm8boa" />
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </span>
      </a>
    </div>
  </div>
</div>
