<header class="header-bg brand-container">
  <div class="d-flex">
    <div>
      <h1>Expense Management That SMBs Deserve</h1>
      <h2>
        Optimize your expense management with automation, real-time spend
        tracking, and hassle-free receipt capture via text messages—all on your
        existing credit cards.
      </h2>
      <div>
        <button nz-button nzType="default" class="btn-big-get-a-demo">
          Get a demo
        </button>
      </div>
    </div>
    <div>
      <img
        src="../../../../../assets/images/homepage-hero-sep-2024.gif"
        alt="/src/assets/images/homepage-hero-sep-2024.gif"
        title="/src/assets/images/homepage-hero-sep-2024.gif"
      />
    </div>
  </div>
</header>
