header h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0.2px !important;
  line-height: 1.2 !important;
}

header h2 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px !important;
  line-height: 1.4 !important;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 30px;
  }
  header h2 {
    font-size: 18px;
  }
}

.header-img-container {
  width: 100%;
}

@media (max-width: 1200px) {
  .header-img-container {
    width: 570px;
  }
}

@media (max-width: 960px) {
  .header-img-container {
    width: 480px;
  }
}
@media (max-width: 760px) {
  .header-img-container {
    width: 360px;
  }
}

.customer-logos {
  border: 1px solid #2172e8;
  background: #fff;
  border-radius: 12px;
  padding: 60px 25px;
  transform: translateY(-40%);
}
