<header class="d-flex header-bg justify-content-center">
  <div class="brand-container">
    <div class="d-flex align-items-center" style="padding: 2rem 0 6rem 0">
      <div style="width: calc(100% - 2rem); padding: 0 2rem 0 0">
        <h1 class="color-brand-black">Expense Management That SMBs Deserve</h1>
        <h2 class="color-brand-grey pb-4">
          Optimize your expense management with automation, real-time spend
          tracking, and hassle-free receipt capture via text messages—all on
          your existing credit cards.
        </h2>
        <div>
          <button nz-button nzType="default" class="btn-big-get-a-demo">
            Get a demo
          </button>
        </div>
      </div>
      <div class="header-img-container">
        <img
          class="fade-in-img"
          src="../../../../../assets/images/homepage-hero-sep-2024.gif"
          alt="/src/assets/images/homepage-hero-sep-2024.gif"
          title="/src/assets/images/homepage-hero-sep-2024.gif"
        />
      </div>
    </div>
  </div>
</header>

<section class="brand-container m-auto">
  <div class="customer-logos">
    <img
      class="fade-in-img"
      src="../../../../../assets/images/customers-logos-2row-sm.png"
      alt="/src/assets/images/customers-logos-2row.webp"
      title="/src/assets/images/cutomers-logos-2row.webp"
    />
  </div>
</section>
