<app-nav
  [isMobile]="isMobile"
  (changeNavShowInfo)="handleChangeNavShowInfo($event)"
></app-nav>
<div
  class=""
  [ngStyle]="{ 'margin-top': showInfo && !isMobile ? '124px' : '44px' }"
>
  <app-header></app-header>
</div>
<div class="brand-container m-auto">
  <div class="d-flex justify-content-center">
    <div class="col col-12 col-lg-10">
      <app-headline-and-subline
        [containerStyle]="{ padding: '0 15px' }"
        [containerClass]="{ 'text-center': true }"
        headline="Tired of chasing employees for expense receipts and manually matching credit card expenses?"
        subline="Stop dealing with shoeboxes of receipts and tedious spreadsheets. Fyle helps you collect receipts 5X faster via text messages, codes expenses automatically, matches them to the right transactions, and exports them to your accounting system, giving you the shortest time to close."
      ></app-headline-and-subline>
      <!-- Current way vs Fyle way -start -->
      <div class="d-flex flex-xl-row flex-column justify-content-between">
        <div class="col-11 col-xl-6 blue-white-gradient-bg">
          <h3
            class="color-brand-black font-size-24px font-weight-500 line-height-1-4 py-4 text-center"
          >
            The current Way
          </h3>
          <img src="/assets/images/the-old-way-homepage-updated.webp" />
        </div>
        <div class="col-11 col-xl-6 blue-white-gradient-bg ms-3">
          <h3
            class="color-brand-black font-size-24px font-weight-500 line-height-1-4 py-4 text-center"
          >
            The Fyle Way
          </h3>
          <img src="/assets/images/fyle-way.png" />
        </div>
      </div>
      <!-- Current way vs Fyle way -end-->
      <div class="my-4 py-4">
        <app-headline-and-subline
          [containerStyle]="{ padding: '0 15px' }"
          [containerClass]="{ 'text-center': true }"
          headline="The best expense management app to track your receipts"
          subline="Simplify tracking receipts and submit expense reports from apps employees use everyday. Submit receipts and expenses right from Gmail, Outlook, Slack, or Fyle’s easy to use mobile app."
          link="https://www.fylehq.com/expense-receipt-tracking"
          linkText=" Explore Fyle’s expense tracking features "
        ></app-headline-and-subline>
      </div>
      <!-- Track expenses on-the-go via text -->
      <div class="row">
        <div class="col col-12 col-md-6">
          <app-paragraph
            [paragraphHeader]="'Track expenses on-the-go via text'"
            paragraphBody="    Users can just text us a picture of their receipt, Fyle’s OCR automatically extracts data like Merchant, Date, Amount and Category, eliminating manual effort."
          ></app-paragraph>
          <br />
          <br />
          <app-paragraph
            [paragraphHeader]="'Let Fyle’s AI code the expense'"
            paragraphBody="Fyle’s AI prompts users for additional expense data like Projects, Cost Codes, and Memos via text. It codes expenses according to your GL, freeing you from unnecessary follow ups."
          ></app-paragraph>
          <!-- Tick list start -->
          <div class="py-3">
            @for (item of tickList; track item;let last = $last) {
            <div class="d-flex py-2">
              <div
                class="position-relative"
                [ngClass]="!last ? 'tick-icon-wrapper' : ''"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <g fill="#4461D7" fill-rule="evenodd">
                    <circle cx="10" cy="10" r="10" opacity=".1" />
                    <path
                      d="M12.697,6.138 L8.012,11.477 L6.45,9.915 C6.072,9.537 5.461,9.537 5.083,9.915 C4.706,10.293 4.706,10.904 5.083,11.281 L7.383,13.581 C7.566,13.765 7.814,13.864 8.096,13.8630075 C8.372,13.853 8.625,13.73 8.8,13.525 L14.163,7.395 C14.512,6.99 14.465,6.38 14.059,6.033 C13.655,5.685 13.045,5.733 12.697,6.138 L12.697,6.138 Z"
                    />
                  </g>
                </svg>
              </div>
              <p class="mx-3 color-brand-grey">{{ item }}</p>
            </div>
            }
          </div>
          <!-- Tick list end -->
          <div>
            <app-link-with-right-arrow
              [linkText]="'Learn more'"
              [link]="
                'https://www.fylehq.com/product/conversational-ai-for-expenses'
              "
            ></app-link-with-right-arrow>
          </div>
        </div>
        <div class="col col-12 col-md-6">
          <div><img src="/assets/images/current-way.png" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- See employee spend in real-time, like never before -->
<div class="brand-container m-auto">
  <div class="row flex-wrap-reverse py-5">
    <div class="col col-12 col-md-6">
      <div><img src="/assets/images/real-time-spend.png" /></div>
    </div>
    <div class="col col-12 col-md-6">
      <div class="color-brand-black font-size-24px">
        See employee spend in real-time, like never before
      </div>
      <app-paragraph
        paragraphBody="Fyle directly integrates with your existing business cards:            "
      ></app-paragraph>
      <div class="d-flex p-3">
        <a href="https://www.fylehq.com/product/cards/visa">
          <img
            src="/assets/images/visa-logo.webp"
            class="payment-card-logo uplift-2px-on-hover cursor-pointer"
          />
        </a>
        <a href="https://www.fylehq.com/product/cards/mastercard">
          <img
            src="/assets/images/mastercard-logo.webp"
            class="payment-card-logo uplift-2px-on-hover cursor-pointer"
          />
        </a>
        <a href="https://www.fylehq.com/product/american-express-virtual-cards">
          <img
            src="/assets/images/amex-logo.webp"
            class="payment-card-logo uplift-2px-on-hover cursor-pointer"
          />
        </a>
      </div>
      <app-headline-and-subline
        subline="See employee expenses the moment they swipe their credit cards with real-time data*. Cardholders get quick text alerts, making it easy to manage and collect receipts."
      ></app-headline-and-subline>
      <app-headline-and-subline
        subline="* Real-time transaction data available for Visa, Mastercard and American Express virtual Cards."
      ></app-headline-and-subline>
    </div>
  </div>

  <!--  -->
  <div class="py-5">
    <app-feature-section
      headline="Automate credit card reconciliation"
      subline="Fyle helps you collect receipts via text and automatically matches them to the right transactions. Don't waste hours every month on manual reconciliation, and close books on time."
      linkText="Learn more about credit card reconciliation"
      [link]="'https://www.fylehq.com/product/cards'"
      imgSrc="/assets/images/credit-card-receipt-tracking-and-expense-form-2x.png"
    ></app-feature-section>
  </div>

  <div class="py-5">
    <app-feature-section
      containerClass="flex-row-reverse"
      headline="Ensure expense compliance with no manual effort"
      subline="Fyle’s platform automatically detects and flags out-of-policy spend based on the rules you set, so you don’t have to manually review every expense."
      imgSrc="/assets/images/policy-violation-mobile.png"
    ></app-feature-section>
  </div>
  <div class="py-5">
    <app-feature-section
      headline="Sync expenses with your accounting platform automatically"
      subline="Fyle has powerful, two-way integrations with QuickBooks Online, QuickBooks Desktop, NetSuite, Sage Intacct, Sage 300 CRE & Xero. Automatically sync all your expense data, including receipts, card transactions, GL codes, projects, taxes and custom fields, in real-time."
      imgSrc="/assets/images/accounting-integrations.png"
      linkText="Learn more about accounting integrations"
      [link]="'https://www.fylehq.com/product/integrations'"
    ></app-feature-section>
  </div>
</div>

<div class="brand-container m-auto">
  <app-customer-section></app-customer-section>
</div>
<div class="brand-container m-auto py-5">
  <a
    href="https://www.fylehq.com/customer-success"
    class="hover-underline pb-4 font-size-16px color-brand-black d-flex align-items-center text-center justify-content-center"
  >
    <span> Customers love us for good reason </span>
    <span class="mx-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="8"
        height="14"
        viewBox="0 0 8 14"
      >
        <defs>
          <path
            id="x612hm8boa"
            d="M7 8c-.298 0-.597-.112-.825-.335L.342 1.951C-.114 1.504-.114.782.342.335c.456-.447 1.194-.447 1.65 0L7 5.241 12.01.335c.456-.447 1.193-.447 1.65 0 .456.447.456 1.17 0 1.616L7.824 7.665C7.598 7.888 7.3 8 7 8"
          />
        </defs>
        <g fill="none" fill-rule="evenodd">
          <g>
            <g>
              <g>
                <g
                  transform="translate(-751 -2888) translate(0 2778) translate(526 80) rotate(-90 134.5 -90.5)"
                >
                  <use fill="#6F718F" xlink:href="#x612hm8boa" />
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </span>
  </a>
</div>
<div class="m-auto real-time" style="padding: 5rem 0">
  <h2 class="font-size-30px font-weight-500 text-center pb-3">
    Explore real-time expense management with Fyle
  </h2>
  <div class="text-center w-100">
    <button
      nz-button
      nzType="default"
      class="btn-big-get-a-demo d-none d-sm-inherit m-auto"
      (click)="handleGetDemo()"
    >
      Get a demo
    </button>
  </div>
</div>
<div class="brand-container m-auto">
  <div class="m-5 p-5">
    <app-headline-and-subline
      [containerStyle]="{ padding: '0 15px' }"
      [containerClass]="{ 'text-center': true, 'px-4': true }"
      headline="Make better decisions with real-time spend visibility"
      subline="Get instant access to real-time data across all your card programs. You make better
    decisions with accurate data in one place."
    ></app-headline-and-subline>
  </div>
</div>
<div class="brand-container m-auto">
  <div class="row">
    @for ( item of realTimeSpendVisibilityCardData; track $index){
    <div class="col-12 col-md-4 px-5 px-md-3">
      <app-real-time-spend-visibility-card
        [isMobile]="isMobile"
        [imgSrc]="item.imgSrc"
        [headline]="item.headline"
        [list]="item.list"
      ></app-real-time-spend-visibility-card>
    </div>
    }
  </div>
</div>
<app-our-attention-section></app-our-attention-section>
<div
  style="
    background: linear-gradient(
      281.74deg,
      hsla(0, 100%, 91%, 0.7) 11.33%,
      rgba(232, 243, 254, 0.7) 50.36%,
      rgba(210, 232, 255, 0.7) 95.82%,
      rgba(216, 235, 255, 0.7) 121.5%
    );
  "
>
  <div class="brand-container m-auto py-5">
    <div class="p-2 p-md-5">
      <app-headline-and-subline
        [containerStyle]="{ padding: '0 15px' }"
        [containerClass]="{ 'text-center': true, 'px-4': true }"
        headline="Fyle for Client Accounting Services Firms"
        subline="Let Fyle do the operational heavy-lifting by automating expense management for your clients, so that you can focus on your advisory services. Manage multiple clients easily from your dedicated partner dashboard and close client books faster with automated receipt matching, AI-powered expense coding, and tight accounting integrations."
      ></app-headline-and-subline>
      <div class="px-5">
        <img src="/assets/images/partner-accounting-firms-mob-3x.png" />
      </div>
    </div>
  </div>
</div>
<div class="brand-container m-auto py-5">
  <a
    href="https://www.fylehq.com/partners/accounting-firms"
    class="hover-underline pb-4 font-size-16px color-brand-black d-flex align-items-center text-center justify-content-center"
  >
    <span> Learn more </span>
    <span class="mx-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="8"
        height="14"
        viewBox="0 0 8 14"
      >
        <defs>
          <path
            id="x612hm8boa"
            d="M7 8c-.298 0-.597-.112-.825-.335L.342 1.951C-.114 1.504-.114.782.342.335c.456-.447 1.194-.447 1.65 0L7 5.241 12.01.335c.456-.447 1.193-.447 1.65 0 .456.447.456 1.17 0 1.616L7.824 7.665C7.598 7.888 7.3 8 7 8"
          />
        </defs>
        <g fill="none" fill-rule="evenodd">
          <g>
            <g>
              <g>
                <g
                  transform="translate(-751 -2888) translate(0 2778) translate(526 80) rotate(-90 134.5 -90.5)"
                >
                  <use fill="#6F718F" xlink:href="#x612hm8boa" />
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </span>
  </a>
</div>
<div
  style="
    background: linear-gradient(
      281.74deg,
      hsla(0, 100%, 91%, 0.7) 11.33%,
      rgba(232, 243, 254, 0.7) 50.36%,
      rgba(210, 232, 255, 0.7) 95.82%,
      rgba(216, 235, 255, 0.7) 121.5%
    );
  "
>
  <div class="brand-container m-auto">
    <app-bank-grade-security-section></app-bank-grade-security-section>
  </div>
</div>
<div class="row p-5">
  <div class="col-12 col-md-6">
    <div
      class="px-5 d-flex flex-column align-items-center justify-content-center"
      style="height: 100%"
    >
      <div class="py-3">
        <app-headline-and-subline
          headline="One expense management app to do it all."
        ></app-headline-and-subline>
      </div>

      <div class="text-center w-100" *ngIf="!isMobile">
        <button
          nz-button
          nzType="default"
          class="btn-big-get-a-demo d-none d-sm-inherit m-auto"
          (click)="handleGetDemo()"
        >
          Get a demo
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/images/badges-ratings-3x.png" />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <img src="/assets/images/badges-ratings-3x.webp" />
  </div>
  <div class="" style="height: 15rem"></div>
</div>
<div style="background-color: var(--brand-black)">
  <div class="brand-container m-auto">
    <app-footer></app-footer>
  </div>
</div>
