.tick-icon-wrapper:after {
  background: #e3e7fa;
  content: "";
  height: 75%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 100%;
  width: 1px;
  z-index: -2;
}

.payment-card-logo {
  /* background: url(/assets/js/a2bae02….png) top no-repeat; */
  background-size: contain;
  border-radius: 25px;
  display: inline-flex;
  height: 30px;
  margin-right: 10px;
  padding: 3px 20px;
  transition: all 0.5s ease;
  width: 86px;
  border: 1px solid #f1f1f1;
  border-radius: 1.5rem;
}

.real-time {
  background-image: linear-gradient(54deg, #fff2f5 -1%, #ebf3fd 74%);
  position: relative;
}

.real-time::after {
  background-image: url(/assets/images/blue-curved-line-right.png),
    url(/assets/images/blue-curved-line-right.png);
  background-position: 100% 0, 100% -4%;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 14%;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.real-time::before {
  background-image: url(/assets/images/blue-curved-line-left.png),
    url(/assets/images/blue-curved-line-left.png);
  background-position: 0 100%, -4% 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 14%;
  top: 0;
  content: "";
  height: 100%;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}
