/* You can add global styles to this file, and also import other style files */
:root {
  --brand-pink: rgb(255, 51, 102);
  --brand-blue: #2172e8;
  --brand-yellow: #ffd954;
  --brand-black: rgb(45, 49, 66);
  --brand-grey: #6f718f;
}

/* CSS RESET */

body {
  font-family: sans-serif !important;
}

p {
  margin: 0 !important;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.fade-in-img {
  opacity: 0; /* Initially invisible */
  transition: opacity 1s ease-in-out; /* Transition for smooth fade-in */
}

.fade-in-img.visible {
  opacity: 1; /* Fully visible when scrolled into view */
}

/* TEXT COLOR */

.color-white {
  color: white !important;
}

.color-black {
  color: black !important;
}

.color-brand-blue {
  color: var(--brand-blue) !important;
}

.color-brand-yellow {
  color: var(--brand-yellow) !important;
}

.color-brand-black {
  color: var(--brand-black) !important;
}

.color-brand-grey {
  color: var(--brand-grey) !important;
}

.color-brand-black-hover-brand-blue {
  color: var(--brand-black) !important;
}

.color-brand-black-hover-brand-blue:hover {
  color: var(--brand-blue) !important;
}

/* BACKGROUND COLOR */

.bg-brand-blue {
  background-color: var(--brand-blue) !important;
}

.nav-bg,
.header-bg {
  background-image: linear-gradient(
    54deg,
    rgb(255, 242, 245) -1%,
    rgb(235, 243, 253) 74%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 0px !important;
  background-position: center top;
}

/* FONT SIZE */

.font-size-12px {
  font-size: 12px;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-1rem {
  font-size: 1rem;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-24px {
  font-size: 24px;
}

/* FONT WEIGHT */

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

/* MEDIA  */
.font-size-12-and-16px {
  font-size: 12px;
}

@media (min-width: 900px) {
  .font-size-12-and-16px {
    font-size: 16px;
  }
}

.brand-container {
  width: 1140px;
}

@media (max-width: 1200px) {
  .brand-container {
    width: 1140px;
  }
}

@media (max-width: 960px) {
  .brand-container {
    width: 920px;
  }
}

/* PADDING */

.brand-p-10px {
  padding: 10px !important;
}

.brand-pr-20px {
  padding-right: 20px !important;
}

.brand-pl-20px {
  padding-left: 20px !important;
}

/* MARGIN */

.brand-m-5px {
  margin: 5px !important;
}

.brand-mr-5px {
  margin-right: 5px !important;
}

.brand-ml-5px {
  margin-left: 5px !important;
}

.brand-ml-10px {
  margin-left: 10px !important;
}

.brand-lineheight-and-spacing {
  letter-spacing: 0.4px !important;
  line-height: 1.67 !important;
}

.headline {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.2px !important;
  line-height: 1.2 !important;
  color: var(--brand-black);
}

.subline {
  color: var(--brand-grey);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px !important;
  line-height: 1.4 !important;
}

/* LINE */

.line-height-1-4 {
  line-height: 1.4 !important;
}

.line-height-2 {
  line-height: 2 !important;
}

.list-style-initial {
  list-style: initial !important;
}

.pritam {
  background-color: #e6ecef;
  height: 1px;
  margin: 20px 0;
}

.link-with-right-arrow {
  color: var(--brand-black);
  letter-spacing: 0.34px !important;
  line-height: 1.67 !important;
}

.link-with-right-arrow:hover {
  color: var(--brand-pink);
}

.link-with-right-arrow:hover svg use {
  fill: var(--brand-pink);
}
