<a [href]="link" class="color-brand-pink hover-underline pb-4">
  <span class="font-weight-500 font-size-1rem">
    {{ linkText }}
  </span>
  <span class="mx-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="8"
      height="14"
      viewBox="0 0 8 14"
      class="right-arrow"
    >
      <defs>
        <path
          id="x612hm8boa"
          d="M7 8c-.298 0-.597-.112-.825-.335L.342 1.951C-.114 1.504-.114.782.342.335c.456-.447 1.194-.447 1.65 0L7 5.241 12.01.335c.456-.447 1.193-.447 1.65 0 .456.447.456 1.17 0 1.616L7.824 7.665C7.598 7.888 7.3 8 7 8"
        />
      </defs>
      <g fill="none" fill-rule="evenodd">
        <g>
          <g>
            <g>
              <g
                transform="translate(-751 -2888) translate(0 2778) translate(526 80) rotate(-90 134.5 -90.5)"
              >
                <use fill="#6F718F" xlink:href="#x612hm8boa" />
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </span>
</a>
