.color-brand-grey {
  color: var(--brand-grey) !important;
}

.color-brand-grey use {
  fill: var(--brand-grey) !important;
}

.color-brand-black {
  color: var(--brand-black) !important;
}

.color-brand-black use {
  fill: var(--brand-black) !important;
}

.color-brand-pink {
  color: var(--brand-pink) !important;
}

.color-brand-pink use {
  fill: var(--brand-pink) !important;
}
