<!-- <div [ngStyle]="containerStyle" [ngClass]="containerClass"> -->

<section [ngClass]="containerClass" class="row align-items-center">
  <div class="col col-12 col-md-6">
    <h1 *ngIf="headline" class="color-brand-black headline">{{ headline }}</h1>
    <h2
      *ngIf="subline"
      class="color-brand-grey subline"
      [ngClass]="link ? 'p-0' : 'pb-4'"
    >
      {{ subline }}
    </h2>
    <app-link-with-right-arrow
      *ngIf="link"
      [link]="link"
      [linkText]="linkText"
    ></app-link-with-right-arrow>
  </div>
  <div *ngIf="imgSrc" class="col col-12 col-md-6">
    <img [src]="imgSrc" />
  </div>
</section>
