<p>customer-section works!</p>
<div class="customer-card-container" [ngClass]="{ 'fade-in': showCardDetails }">
  <div class="position-relative d-flex" style="z-index: 2">
    <div class="customer-card-container__img-container" [@fadeAnimation]>
      <img
        style="height: 335px; width: 100%"
        [src]="cards[currentCardIndex].customer_image"
        alt="Profile Picture"
      />
    </div>

    <!-- <blockquote>{{ cards[currentCardIndex].feedback }}</blockquote> -->
    <div
      class="customer-card-container__detail-container px-5 d-flex flex-column justify-content-between quote"
    >
      <div class="d-flex align-items-center">
        <img
          style="width: auto; height: 60px"
          [src]="cards[currentCardIndex].customer_logo"
          alt="customer_logo"
        />
        <ng-container *ngIf="cards[currentCardIndex].employees">
          <p
            class="color-brand-black font-size-14px font-weight-500 line-height-1-4"
          >
            <span
              class="color-brand-grey font-size-14px font-weight-500 line-height-1-4 px-3"
            >
              {{ "|" }}
            </span>
            {{ cards[currentCardIndex].employees }}
          </p>
        </ng-container>
      </div>
      <div class="feedback">
        <h3
          class="color-brand-black font-size-16px font-weight-500 line-height-1-4"
        >
          {{ cards[currentCardIndex].feedback }}
        </h3>
      </div>
      <div class="d-flex align-items-center">
        @for (person of cards[currentCardIndex].person_list; track
        person.name;let last = $last) {
        <div class="me-3">
          <h3
            class="color-brand-black font-size-20px font-weight-500 line-height-1-4"
          >
            {{ person.name }}
          </h3>
          <p
            class="color-brand-black font-size-16px font-weight-500 line-height-1-4"
          >
            {{ person.title }}
          </p>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="customer-card-container__bg">
    <div
      class="position-relative d-flex"
      style="bottom: 0; right: 0; height: 100%; width: 100%"
    >
      <div
        class="card-navigation d-flex align-items-center justify-content-center"
      >
        <div
          class="count px-5 font-size-10px color-brand-black font-weight-500 line-height-1-4"
        >
          {{ currentCardIndex + 1 }}/
          {{ cards.length }}
        </div>
        <div>
          <button (click)="prevCard()" class="card-prev"></button>
          <button (click)="nextCard()" class="card-next"></button>
        </div>
      </div>
    </div>
  </div>
</div>
