<ng-container *ngIf="!isMobile; else mobileScreen">
  <section class="py-5">
    <img [src]="imgSrc" />
    <h3
      class="color-brand-black font-size-16px font-weight-700 line-height-1-4"
    >
      {{ headline }}
    </h3>
    @for (item of list ; track $index) {
    <li
      class="color-brand-grey font-size-14px font-weight-400 line-height-2 list-style-initial"
    >
      {{ item }}
    </li>
    }
  </section>
</ng-container>
<ng-template #mobileScreen>
  <section class="py-5">
    <h3
      class="color-brand-black font-size-16px font-weight-700 line-height-1-4"
    >
      {{ headline }}
    </h3>
    <img [src]="imgSrc" />
    @for (item of list ; track $index) {
    <li
      class="color-brand-grey font-size-14px font-weight-400 line-height-2 list-style-initial"
    >
      {{ item }}
    </li>
    }
  </section>
</ng-template>
