.rotate-180 {
  transform: rotate(180deg) !important;
}

.rotate-0 {
  transform: rotate(0deg) !important;
}

.c {
  background-color: #f6faff;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  padding: 20px;
}

.ant-collapse-borderless > .ant-collapse-item {
  border: none !important;
}
