<nz-collapse [nzBordered]="false" class="w-100" [nzExpandIconPosition]="'end'">
  @for (m of menu; track m) {
  <nz-collapse-panel
    #p
    [nzHeader]="
      m.label == 'Accounting Firms' || m.label == 'Pricing'
        ? headerTemplate
        : m.label
    "
    [nzExpandedIcon]="expandedIcon"
    [nzShowArrow]="!(m.label == 'Accounting Firms' || m.label == 'Pricing')"
    [nzActive]="m.active"
  >
    <ng-template #headerTemplate>
      <div>
        <a [href]="m.link" target="_blank" class="color-brand-black">
          {{ m.label }}
        </a>
      </div>
    </ng-template>

    <ng-template #expandedIcon let-active>
      <span nz-icon nzType="caret-right" class="ant-collapse-arrow">
        <span>
          <svg
            [ngClass]="p.nzActive ? 'rotate-180' : 'rotate-0'"
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.00029 8.00029C6.70162 8.00029 6.40296 7.88829 6.17546 7.66543L0.342125 1.95114C-0.114042 1.50429 -0.114042 0.782 0.342125 0.335143C0.798292 -0.111714 1.53562 -0.111714 1.99179 0.335143L7.00029 5.24143L12.0088 0.335143C12.465 -0.111714 13.2023 -0.111714 13.6585 0.335143C14.1146 0.782 14.1146 1.50429 13.6585 1.95114L7.82512 7.66543C7.59762 7.88829 7.29896 8.00029 7.00029 8.00029Z"
              fill="#6F718F"
            />
            <mask
              id="mask0_1903_252"
              style="mask-type: luminance"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="15"
              height="9"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.00029 8.00029C6.70162 8.00029 6.40296 7.88829 6.17546 7.66543L0.342125 1.95114C-0.114042 1.50429 -0.114042 0.782 0.342125 0.335143C0.798292 -0.111714 1.53562 -0.111714 1.99179 0.335143L7.00029 5.24143L12.0088 0.335143C12.465 -0.111714 13.2023 -0.111714 13.6585 0.335143C14.1146 0.782 14.1146 1.50429 13.6585 1.95114L7.82512 7.66543C7.59762 7.88829 7.29896 8.00029 7.00029 8.00029Z"
                fill="white"
              />
            </mask>
            <g mask="url(#mask0_1903_252)"></g>
          </svg>
        </span>
      </span>
    </ng-template>

    <div class="blue-box">
      @if (m.label == menu[0].label || m.label == 'Products'){
      <!--  -->
      @for (item of productsData; track item) {
      <!--  -->
      @if (item.headline == productsData[4].headline || item.headline ==
      'Cards') {
      <div class="pb-4">
        <p class="color-brand-grey">
          <a [href]="item.redirectTo" class="color-brand-grey hover-underline">
            {{ item.headline }}
          </a>
        </p>
        <li
          class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
        >
          <a
            href="https://www.fylehq.com/product/cards/visa"
            class="color-brand-grey hover-underline"
          >
            Visa
          </a>
        </li>
        <li
          class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
        >
          <a
            href="https://www.fylehq.com/product/cards/mastercard"
            class="color-brand-grey hover-underline"
          >
            Mastercard
          </a>
        </li>
        <li
          class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
        >
          <a
            href="https://www.fylehq.com/product/cards/#american-express"
            class="color-brand-grey hover-underline"
          >
            American Express
          </a>
        </li>
        <li
          class="h color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2"
        >
          <a
            href="https://www.fylehq.com/product/american-express-virtual-cards"
            class="color-brand-grey hover-underline d-flex"
          >
            <span style="width: 16px; display: block"></span>
            Virtual cards
          </a>
        </li>

        <li
          class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2"
        >
          <a
            href="https://www.fylehq.com/product/american-express-virtual-cards"
            class="color-brand-grey hover-underline d-flex"
          >
            <span style="width: 16px; display: block"></span>

            <span>
              <svg
                width="4"
                height="5"
                viewBox="0 0 4 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="2" cy="2.92725" r="1.5" stroke="#2D3142" />
              </svg>
            </span>
            <span class="px-2">American Express</span>
          </a>
        </li>
      </div>

      } @else if (item.headline == productsData[5].headline || item.headline ==
      'Integrations') {

      <p class="color-brand-grey">
        <a [href]="item.redirectTo" class="color-brand-grey hover-underline">
          {{ item.headline }}
        </a>
      </p>

      <li
        class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
      >
        <a
          href="https://www.fylehq.com/product/integrations/netsuite-accounting-software"
          class="color-brand-grey hover-underline"
        >
          NetSuite
        </a>
      </li>

      <li
        class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
      >
        <a
          href="https://www.fylehq.com/product/integrations/sage-intacct-accounting-software"
          class="color-brand-grey hover-underline"
        >
          Sage Intacct
        </a>
      </li>

      <li
        class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
      >
        <a
          href="https://www.fylehq.com/product/integrations/quickbooks-online-accounting-software"
          class="color-brand-grey hover-underline"
        >
          QuickBooks Online
        </a>
      </li>

      <li
        class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
      >
        <a
          href="https://www.fylehq.com/product/integrations/quickbooks-desktop-accounting-software"
          class="color-brand-grey hover-underline"
        >
          QuickBooks Desktop
        </a>
      </li>

      <li
        class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
      >
        <a
          href="https://www.fylehq.com/product/integrations/sage-300-cre-accounting-software"
          class="color-brand-grey hover-underline"
        >
          Sage 300 CRE (Beta)
        </a>
      </li>

      <li
        class="color-brand-grey hover-underline font-size-14px font-weight-400 line-height-2 list-style-initial"
      >
        <a
          href="https://www.fylehq.com/product/integrations/xero-accounting-software"
          class="color-brand-grey hover-underline"
        >
          Xero
        </a>
      </li>
      <div class="my-3">
        <app-link-with-right-arrow
          [linkText]="'See all'"
          [linkColor]="'color-brand-black'"
          [link]="
            'https://www.fylehq.com/product/conversational-ai-for-expenses'
          "
        ></app-link-with-right-arrow>
      </div>

      } @else if (item.headline == productsData[9].headline || item.headline ==
      'Budgets'){
      <p class="pb-4 color-brand-grey">
        <a [href]="item.redirectTo" class="color-brand-grey hover-underline">
          {{ item.headline }}
        </a>
      </p>
      <div class="blue-pritam"></div>
      <div class="mt-3">
        <app-link-with-right-arrow
          [linkText]="'View all features'"
          [linkColor]="'color-brand-black'"
          [link]="'https://www.fylehq.com/product'"
        ></app-link-with-right-arrow>
      </div>
      } @else{
      <p class="pb-4 color-brand-grey">
        <a [href]="item.redirectTo" class="color-brand-grey hover-underline">
          {{ item.headline }}
        </a>
      </p>

      } } } @if (m.label == menu[1].label || m.label == 'Solution'){
      <p class="pb-4 color-brand-black font-weight-600">BY INDUSTRY</p>
      @for (item of solutionsData; track item;let last = $last) {
      <p class="color-brand-grey" [ngClass]="last ? 'pb-0' : 'pb-4'">
        <a [href]="item.redirectTo" class="color-brand-grey hover-underline">
          {{ item.headline }}
        </a>
      </p>

      }} @if (m.label == menu[4].label || m.label == 'Resources'){
      <p class="pt-3 pb-2 color-brand-black font-weight-600">LEARN</p>
      @for (item of resourceLearnData; track item;let last = $last) {
      <p class="color-brand-grey" [ngClass]="last ? 'pb-1' : 'pb-3'">
        <a [href]="item.redirectTo" class="color-brand-grey hover-underline">
          {{ item.headline }}
        </a>
      </p>
      <!--  -->
      }
      <p class="pt-3 pb-2 color-brand-black font-weight-600">CUSTOMERS</p>
      @for (item of resourceCustomersData; track item;let last = $last) {
      <p class="color-brand-grey" [ngClass]="last ? 'pb-1' : 'pb-3'">
        <a [href]="item.redirectTo" class="color-brand-grey hover-underline">
          {{ item.headline }}
        </a>
      </p>
      }
      <p class="pt-3 pb-2 color-brand-black font-weight-600">COMPANY</p>
      @for (item of resourceCompanyData; track item;let last = $last;let first =
      $first) {
      <li
        class="color-brand-grey"
        [ngClass]="{
          'pb-1': !last,
          'pb-3': last,
          'list-style-initial': !first
        }"
      >
        <a [href]="item.redirectTo" class="color-brand-grey hover-underline">
          {{ item.headline }}
        </a>
      </li>
      } }
    </div>
  </nz-collapse-panel>
  <div class="blue-pritam"></div>

  }
</nz-collapse>
