/*  */
* {
  transition: 0.2s;
}
.main-nav-shadow {
  box-shadow: 0 1px 9px 0 rgba(25, 27, 43, 0.19);
}

.btn-get-a-demo {
  border-radius: 6px !important;
  font-weight: 500 !important;
  padding: 7px 38px !important;
  height: 44px !important;
  width: 167px !important;
  padding: 7px 38px !important;
  font-size: 1rem !important;
  border: 2px solid var(--brand-pink) !important;
  background-color: transparent !important;
}

.btn-get-a-demo:hover,
.btn-get-a-demo-active {
  background-color: var(--brand-pink) !important;
  color: white !important;
}

.nav-link {
  color: var(--brand-black);
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 0.4px !important;
  line-height: 1.43 !important;
  padding: 30px 20px 0px;
  height: 80px;
}

.nav-link:hover {
  color: var(--brand-pink);
}

.nav-start {
  font-size: 0px;
  height: 36px;
  margin-right: 40px;
}

.nav-mid {
  height: 79px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.no-dropdown {
  padding: 31px 30px 0px;
}

/* Dropdown style start */

.view-all-features {
  color: var(--brand-black);
  letter-spacing: 0.34px !important;
  line-height: 1.67 !important;
}

.view-all-features:hover {
  color: var(--brand-pink);
}

.view-all-features:hover svg use {
  fill: var(--brand-pink);
}

/* Dropdown style end */
