<footer class=" ">
  <div class="footer py-5">
    <div
      class="footer-column"
      [ngClass]="section.classTitle"
      [ngStyle]="{ 'grid-area': section.classTitle }"
      *ngFor="let section of footerData"
    >
      <h3>{{ section.title }}</h3>
      <ul>
        <li *ngFor="let item of section.items">
          <ng-container *ngIf="item.subItems; else singleItem">
            {{ item.text }}
            <ul>
              <li *ngFor="let subItem of item.subItems">
                <a [href]="subItem.redirectTo">{{ subItem.text }}</a>
              </li>
            </ul>
          </ng-container>
          <ng-template #singleItem>
            <a
              *ngIf="item.redirectTo; else plainText"
              [href]="item.redirectTo"
              >{{ item.text }}</a
            >
            <ng-template #plainText>{{ item.text }}</ng-template>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>

  <div class="support">
    <h3 style="color: white" class="support-box font-size-16px font-weight-500">
      <span class="support-line support-line-1"></span>
      SUPPORT
      <span class="support-line support-line-2"></span>
    </h3>

    <div
      class="support-links d-flex flex-column justify-content-center align-items-center align-items-md-start"
    >
      <p class="d-flex">
        <a
          class="color-inherit font-size-14px text-center p-3 ps-0"
          href="https://help.fylehq.com/?_gl=1*rhrl41*_gcl_au*NDMyODI2MDEzLjE3MzE1NjU3NDQ."
        >
          Help Center
        </a>
        <a
          href="https://www.fylehq.com/implementation"
          class="color-inherit font-size-14px text-center p-3"
        >
          Implementation
        </a>
      </p>
      <p>
        <span class="color-inherit font-size-14px"
          >Reach us at:
          <a
            href="support@fylehq.com"
            style="text-decoration: underline; color: white"
            class="font-size-14px underline text-underline"
          >
            {{ "support@fylehq.com" }}
          </a>
        </span>
      </p>
    </div>
    <div class="support-image-box">
      <img
        src="/assets/images/support-1.png"
        style="width: 70px; height: 70px"
      />
      <img
        class="mx-5"
        src="/assets/images/support-2.png"
        style="width: 70px; height: 70px"
      />
      <img
        src="/assets/images/support-3.png"
        style="width: 70px; height: 70px"
      />
    </div>
  </div>

  <div class="footer-end">
    <div class="footer-end__links">
      <a
        href="https://www.fylehq.com/privacy/privacy-policy"
        class="hover-underline font-size-16px color-inherit py-2"
        >Policy</a
      >

      <a
        href="https://www.fylehq.com/privacy/terms-and-conditions"
        class="hover-underline font-size-16px color-inherit px-3 py-2"
        >Terms and conditions</a
      >

      <a
        href="https://www.fylehq.com/privacy/gdpr"
        class="hover-underline font-size-16px color-inherit px-3 py-2"
        >GDPR compliance</a
      >

      <a
        href="https://www.fylehq.com/privacy/cookie-policy"
        class="hover-underline font-size-16px color-inherit py-2"
        >Cookie policy</a
      >
    </div>
    <div
      class="footer-end__social-links d-flex align-items-center justify-content-center justify-content-md-between"
    >
      <a href="https://www.facebook.com/FyleHQ">
        <img
          src="/assets/images/facebook-footer.svg"
          class="footer-social-logo"
        />
      </a>

      <a href="https://www.instagram.com/teamFyle/">
        <img
          src="/assets/images/instagram-footer.svg"
          class="footer-social-logo"
        />
      </a>
      <a href="https://x.com/FyleHQ">
        <img src="/assets/images/x-footer.svg" class="footer-social-logo" />
      </a>
      <a href="https://www.linkedin.com/company/fyle/">
        <img
          src="/assets/images/linkedin-footer.svg"
          class="footer-social-logo"
        />
      </a>
    </div>
    <div class="footer-end__copy-right font-size-16px">
      <p>© 2024, Fyle™ Inc. All rights reserved.</p>
      <p>Fyle™ is the registered trademark of Fyle™ Inc.</p>
    </div>
  </div>
</footer>
