.footer {
  display: grid;
  grid-template-areas:
    "product integrations"
    "product industries"
    "product  get-started"
    "business-expertise  resources"
    "business-expertise  company"
    "compare  company";
  gap: 16px;
  background-color: var(--brand-black);
  color: #cacdd7;
}

@media (min-width: 720px) {
  .footer {
    grid-template-areas:
      "product integrations business-expertise"
      "product industries business-expertise"
      "product industries get-started "
      "compare  industries company"
      "resources  industries company";
  }
}

@media (min-width: 920px) {
  .footer {
    grid-template-areas:
      "product integrations business-expertise compare get-started"
      "product industries business-expertise resources company";
  }
}

.footer-column {
  font-family: Arial, sans-serif;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: white;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

.footer-column ul li {
  color: inherit;
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-column ul li ul li {
  margin-left: 20px;
  font-size: 13px;
  color: inherit;
}

.footer-column ul li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

.footer-column ul li a {
  color: inherit;
}

.footer-column ul li ul li a {
  color: inherit;
}

/* -- */

.support {
  color: #cacdd7;
  background-color: var(--brand-black);
  padding: 32px 0;
  gap: 16px;
  display: grid;
  grid-template-areas:
    "support-box"
    "support-links"
    "support-image-box";
}

.support-line {
  height: 1px;
  margin: 0 1rem;
  width: 100%;
  display: block;
  background-color: hsla(240, 5%, 92%, 0.28);
}

.support-box {
  grid-area: support-box;
  display: flex;
  align-items: center;
}

.support-links {
  grid-area: support-links;
}

.support-image-box {
  grid-area: support-image-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 720px) {
  .support {
    grid-template-areas:
      "support-box support-image-box"
      "support-links support-image-box";
  }

  .support-box {
    align-items: end;
  }

  .support-line-1 {
    display: none;
  }
}
/* -- */

.footer-end {
  background-color: var(--brand-black);
  color: #cacdd7;
  display: grid;
  margin: 32px;
  padding: 48px 0;
  gap: 24px;
  border-top: 2px solid hsla(240, 5%, 92%, 0.28);
  grid-template-areas:
    "social-links"
    "links"
    "copy-right";
}

.footer-end__copy-right {
  text-align: center;
  grid-area: copy-right;
}

.footer-end__links {
  grid-area: links;
  display: grid;
  padding: 0 2rem;
  grid-template-columns: 1fr 1fr;
}
.footer-end__links a {
  text-align: center;
}

@media (min-width: 720px) {
  .footer-end {
    grid-template-areas: "copy-right links links social-links";
    grid-template-columns: 3fr 4fr 3fr;
    border-top: none;
    margin: 0px;
  }

  .footer-end__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  .footer-end__copy-right {
    text-align: left;
  }
}

.footer-end__social-links {
  grid-area: social-links;
  gap: 16px;
}

.footer-social-logo {
  height: 37px;
  width: 37px;
}
